<?xml version="1.0" encoding="utf-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       >
    <!--Scans all the components present in the given package-->
    <context:component-scan base-package="com.spring.learning.dependency.injection"/>

    <!-- created a bean car by giving the id and class path -->
    <!--<bean id="Car" class="com.spring.learning.dependency.injection.Car"></bean>-->

    <!--created a bean bike by giving the id and class path -->
    <bean id="bike" class="com.spring.learning.dependency.injection.Bike"/>

    <!--Created a bean of tyre and adding the properties-->
    <!--<bean id="tyre" class="com.spring.learning.dependency.injection.Tyre">-->
        <!--<property name="brand" value="MRF"/>--><!--Adding the brand property (Setter injection)-->
       <!-- <constructor-arg value="MRF"/>--><!--Constructor injection-->
    <!--</bean>-->
</beans>

